Python standard

pycache/
*.pyc

Virtual Environment (NEVER upload this)

venv_deepfake/
env/

Large Data & Models (Too big for GitHub)

checkpoints/
logs/
processed_data_cache/

Local Datasets or Results

evaluation/
fake_audio/
spectograms/
svarah_deepfake_dataset/

evaluation_results.csv
*.wav
*.mp3
*.m4a

IDE settings

.vscode/
.idea/
